* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8c;
    --text-color-primary: #313131;
    --text-color-secondary: #6C6C6C;

    --font-family: "Poppins", sans-serif;
    --text-large: bold 32px/125% var(--font-family) ;
    --text: 16px/1.5 var(--font-family);/*24px dividido 16px = 1.5 ou 150%*/
    --text-medium: 14px/170% var(--font-family) ;
    --text-small: 12px/170% var(--font-family) ;
    
}

body {
    font: var(--text);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color);
}


.bg-surface-color {
    background-color: var(--surface-color);

}

/* Por padrão, os elementos aparecem */
.desktop-only {
    display: initial;
}

/* Oculta os elementos em telas menores que 768px */
@media (max-width: 767px) {
    .desktop-only {
        display: none;
    }

    .container-header {
        --max-width: 375px; /*fator máximo que é permitido de largura, pois é o tamanho width tela mobile figma*/
        width: min(var(--max-width), 100% - var(--padding-inline-lg) * 2);
    }
}

