main {
    display: flex;
    flex-wrap: wrap; /*imagens ocupem espaço disponível*/
    justify-content: center;
    gap: 24px; /*espaço entre as imagens*/
    padding-top: 1.5rem;
}

main img {
    width: 286px; /*quadrado perfeito, especificado no figma*/
    height: 286px;
    
}